body {

	margin: 20px 300px;
	background-position: center;

}

hr {
	width: 80%;
	margin-left: 0px;
}

.photo {
	margin: 0px 200px;
	height: 200px;
}

.para {
	margin-left: 20px;
	margin-left: 20px;
}
