header {
  background: url('../img/header-fon.png') no-repeat;
  background-size: cover;
  text-align: center;
  font-family: $header-font;
  font-size: 14px;

  .header-log-container {
    padding-top: 30px;
    color: $header-color;

    .log-container-box {

      .log-container-login{
        display: inline-block;
        margin-right: 16px;
        text-decoration: none;
        color: $header-color;
      }

      .log-container-singap {
        text-decoration: none;
        color: $header-color;
        padding: 8px 15px;
        border: 2px solid #fff;
        border-radius: 20px;
      }
    }

    .log-container-p {
      font-size: 21px;
      margin-top: 124px;
    }
  }

  .header-text-container {
    /*width: 300px;*/
    margin: 0 auto;
    color: $header-color;
    padding-bottom: 138px;

    h2 {
      font-size: 30px;
      margin-top: 25px;
      margin-bottom: 15px;
      line-height: 35px;
    }

    span {
      display: block;
      margin: 0 auto 16px;
      width: 215px;
      font-size: 18px;
      font-family: 'Roboto-Ligh';
    }

    input {
      display: block;
      background-color: #ff4e50;
      outline: none;
      border: none;
      margin: 0 auto;
      padding: 12px 50px;
      color: $header-color;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
header {
  background-image: url('../img/header-fon-retina.png');
  background-size: cover;
  }
}