<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Exam</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/script.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
	 <header>

      <div class="header-log-container">

        <div class="log-container-box">
          <a href="#" class="log-container-login">Log in</a>
          <a href="#" class="log-container-singap">Sing up</a>
        </div>
        <p class="log-container-p">URLAUBSGLÜCK</p>
      </div>

      <div class="header-text-container">
        <h2 class="text-container-h2">SHARE YOUR HOLIDAY DREAMS</h2>
        <span class="text-container-span">And find the perfect partner to fullfill it</span>
        <input class="text-container-input" type="button" value="Find your holiday partner">
      </div>

    </header>

    <section>
      <h2 class="step">How Urlaubsglück works?</h2>

      <div class="section step-one">
      	<div class="section-cont">
        	<div class="section-step"><a href="#">step 1</a></div>
			<h3 class="section-head">Sed leo enim, condimentum</h3>
			<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
		</div>

      </div>

      <div class="section step-two">
      	<div class="section-cont">
        	<div class="section-step step-different"><a href="#">step 2</a></div>
			<h3 class="section-head">Morbi velit risus</h3>
			<p class="section-desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
		</div>
      </div>

      <div class="section step-three">
     	 <div class="section-cont">
       		<div class="section-step"><a href="#">step 3</a></div>
			<h3 class="section-head">Sed leo enim, condimentum</h3>
			<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
		</div>
      </div>

    </section>

    <section class="carousel-container">

      <div class="carousel-container-box carousel-container-box-1">


        <div class="main-block">
          <div class="carousel-arrow-left"><img src="img/tablet/left.png"></div>
          <div class="carousel-arrow-right"><img src="img/tablet/right.png"></div>

          <div class="container-list">
            <ul class="carousel">
              <li class="carousel-element step-one-tablet">
              	<div class="section-cont">
					<div class="section-step"><a href="#">step 1</a></div>
					<h3 class="section-head">Sed leo enim, condimentum</h3>
			<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
				</li>
              
              <li class="carousel-element step-two-tablet">
              	<div class="section-cont">
					<div class="section-step"><a href="#">step 2</a></div>
					<h3 class="section-head">Morbi velit risus</h3>
					<p class="section-desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
				</div>
				</li>
              
              <li class="carousel-element step-three-tablet">
 				<div class="section-cont">
       				<div class="section-step"><a href="#">step 3</a></div>
					<h3 class="section-head">Sed leo enim, condimentum</h3>
					<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
              </li>
            </ul>
          </div>

         <div class="main-block">

              <div class="carousel-arrow-left-desk"><img src="img/tablet/left.png"></div>
              <div class="carousel-arrow-right-desk"><img src="img/tablet/right.png"></div>

              
                  <div class="container-list-desk">
                <ul class="carousel-desk">
                  <li class="carousel-element"><img src="img/desktop/step1.png"></li>
                  <li class="carousel-element"><img src="img/desktop/step2.png"></li>
                  <li class="carousel-element"><img src="img/desktop/step3.png"></li>
                </ul>
              </div>
               

            </div>

        </div>
      </div>

      <div class="carousel-container-box carousel-container-box-2 ">

        <div class="main-block">
          <div class="carousel-arrow-left-2"><img src="img/tablet/left.png"></div>
          <div class="carousel-arrow-right-2"><img src="img/tablet/right.png"></div>

          <div class="container-list-2">
            <ul class="carousel">
              <li class="carousel-element step-one-tablet">
              <div class="section-cont">
					<div class="section-step"><a href="#">step 1</a></div>
					<h3 class="section-head">Sed leo enim, condimentum</h3>
			<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
				</li>
              <li class="carousel-element step-two-tablet">
              <div class="section-cont">
					<div class="section-step"><a href="#">step 2</a></div>
					<h3 class="section-head">Morbi velit risus</h3>
					<p class="section-desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
				</div>
				</li>
              <li class="carousel-element step-three-tablet">
              <div class="section-cont">
       				<div class="section-step"><a href="#">step 3</a></div>
					<h3 class="section-head">Sed leo enim, condimentum</h3>
					<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
				</li>
            </ul>

          </div>
        </div>

       <div class="main-block">

            <div class="carousel-arrow-left-desk-2"><img src="img/tablet/left.png"></div>
            <div class="carousel-arrow-right-desk-2"><img src="img/tablet/right.png"></div>

            <div class="container-list-desk-2">
              <ul class="carousel-desk">
                <li class="carousel-element"><img src="img/desktop/step2.png"></li>
                <li class="carousel-element"><img src="img/desktop/step1.png"></li>
                <li class="carousel-element"><img src="img/desktop/step3.png"></li>
            </div>

          </div>
        </div>

        </div>
      </div>

      <div class="carousel-container-box-3">

        <div class="main-block">
          <div class="carousel-arrow-left-3"><img src="img/tablet/left.png"></div>
          <div class="carousel-arrow-right-3"><img src="img/tablet/right.png"></div>

          <div class="container-list-3">
            <ul class="carousel">
              <li class="carousel-element step-one-tablet">
              <div class="section-cont">
					<div class="section-step"><a href="#">step 1</a></div>
					<h3 class="section-head">Sed leo enim, condimentum</h3>
			<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
				</li>
              <li class="carousel-element step-two-tablet">
              <div class="section-cont">
					<div class="section-step"><a href="#">step 2</a></div>
					<h3 class="section-head">Morbi velit risus</h3>
					<p class="section-desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
				</div>
				</li>
              <li class="carousel-element step-three-tablet">
              <div class="section-cont">
       				<div class="section-step"><a href="#">step 3</a></div>
					<h3 class="section-head">Sed leo enim, condimentum</h3>
					<p class="section-desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
				</li>
            </ul>

          </div>
      </div>

      <div class="main-block">

          <div class="carousel-arrow-left-desk-3"><img src="img/tablet/left.png"></div>
          <div class="carousel-arrow-right-desk-3"><img src="img/tablet/right.png"></div>

          <div class="container-list-desk-3">
            <ul class="carousel-desk">
              <li class="carousel-element"><img src="img/desktop/step3.png"></li>
              <li class="carousel-element"><img src="img/desktop/step2.png"></li>
              <li class="carousel-element"><img src="img/desktop/step1.png"></li>
            </ul>
          </div>

        </div>

    </div>

    </section>

    <section class="face">

      <h2>Meet a partner for your best holiday</h2>

      <div class="desk-box">

        <div class="desk-face-one">

          <div class="face-one-text">
            <h4 class="face-one-h4" >Bradley Hunter</h4>
            <p class="face-one-p">Based in Chicago. I love playing tennis and loud music.</p>
          </div>

        </div>

        <div class="desk-face-three">

          <div class="face-three-text">
            <h4 class="face-three-h4" >Heather Walker</h4>
            <p class="face-three-p">I'm a happy person that loves cats and climbing on mountains.</p>
          </div>

        </div>

        <div class="desk-face-two">

          <div class="face-two-text">
            <h4 class="face-two-h4" >Lucas Marsha</h4>
            <p class="face-two-p">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
          </div>

        </div>

        <div class="desk-face-four">

          <div class="face-four-text">
            <h4 class="face-four-h4" >Bradley Hunter</h4>
            <p class="face-four-p">Based in Chicago. I love playing tennis and loud music.</p>
          </div>

        </div>

      </div>

      <div class="section-face-box">
        <div class="left-section">
          <div class="section-face-one">

            <div class="face-one-text">
              <h4 class="face-one-h4" >Bradley Hunter</h4>
              <p class="face-one-p">Based in Chicago. I love playing tennis and loud music.</p>
            </div>

          </div>

          <div class="section-face-two">
            <div class="face-two-text">
              <h4 class="face-two-h4" >Lucas Marsha</h4>
              <p class="face-two-p">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
            </div>

          </div>
        </div>

        <div class="right-section">
          <div class="section-face-three">

            <div class="face-three-text">
              <h4 class="face-three-h4" >Heather Walker</h4>
              <p class="face-three-p">I'm a happy person that loves cats and climbing on mountains.</p>
            </div>

          </div>

          <div class="section-face-four">

            <div class="face-four-text">
              <h4 class="face-four-h4" >Bradley Hunter</h4>
              <p class="face-four-p">Based in Chicago. I love playing tennis and loud music.</p>
            </div>

          </div>
      </div>
    </div>

      <input class="section-face-input" type="button" value="See other partners">

    </section>

    <section class="masonry">

      <h2>Discover holiday activity ideas</h2>
      

      <script type="text/html" id="grid-template">
        <% for (i = 0; i < 7; i++) { %>
          <div class="grid-item" style="background-image: url(<%= grid.hits[i].userImageURL %>)"><%= grid.hits[i].tags %></div>
          <% }; %>
      </script>


      <div class="grid"></div>
     
      <h2 class="bottom">Discover holiday activity ideas</h2>
      <p>Hi! What are your holiday interests?</p>
     
      <input class="input" type="text" name="" value="" placeholder="Enter your interests">
      <a class="btn" href="">Search partners</a>
      
    </section>

    <footer class="foot">

      <h4>URLAUBSGLÜCK</h4>

      <div class="foot-box-one">

        <span>Company</span>
        <ul class="foot-nav-company">
          <li><a href="#">About</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Blog</a></li>
        </ul>

      </div>

      <div class="foot-box-two">

        <ul class="foot-nav-partners">
          <li><a href="#">Partners</a></li>
        </ul>

        <span>DESIGNED BY</span>

      </div>

    </footer>

</body>
</html>