body {
  background: lightgrey;
}

.wrapper {
  width: 800px;
  height: 90vh;
  margin: 20px auto;
  background: white;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}
.content_1 {
	width: 100%;
  	
}

.content_1 td{
	border-bottom: none;
}

.content_2 td{
	border-bottom: none;
}

.content_2 {
	width: 100%
}

.content_3 {
	width: 100%
}

td {
	border: 10px solid black;
	border-collapse: collapse;
}

.cell_1 {
	width: 150px;
	height: 40px;
}

.cell_2 {
	width: 350px;
	height: 40px;
}

.cell_3 {
	width: 250px;
	height: 30px;
	background: yellow;
}

.cell_4 {
	width: 100px;
	height: 90px;
}

.cell_5 {
	width: 380px;
	height: 220px;
	background: red;
}

.cell_6 {
	width: 250px;
	height:120px;
	background: yellow;
}
.cell_7 {
	width: 70px;
	height: 70px;
	background: gray;
}
.cell_8 {
	width: 245px;
}

.cell_9 {
	width: 140px;
}

.cell_10 {
	width: 100px;
	height: 190px;
	background: yellow;	
}

.cell_11 {
	width: 70px;
	height: 70px;
	background: gray;
}

.cell_12 {
	width: 245px;
}

.cell_13 {
	background: blue;
}

.cell_14 {
	height: 50px;
	background: gray;
}

.cell_15 {
	width: 60px;
}