* {
  margin: 0;
  padding: 0;
 }

 h1 {
   text-align: center;
 }

 .wrapper_carousel {
   position: relative;
   width: 800px;
   height: 500px;
   margin: 20px auto;
   border: 8px solid #d8d0d8;
   box-shadow: 0px 0px 0px 1px rgba(128,128,128,1);
   border-radius: 10px;
 }

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

img {
  width: 800px;
  height: 500px;
}

.jcarousel-prev,
.jcarousel-next {
  position: absolute;
  top: 250px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: #635c63;
  background: #efebef;
  border-radius: 100px;
  border: 1px solid #655f65;
}

.jcarousel-prev {
  left: -100px;
}

.jcarousel-next {
  right: -100px;
}

.jcarousel-pagination {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.jcarousel-pagination a {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #655f65;
  background: #efebef;
  border-radius: 100px;
}

.jcarousel-pagination a.active {
  background: #afa8af;
  color: #4a434a;
  }

  .wrapper_select {
  margin: 0 0 50px 50px;
  }

.wrapper_checkbox {
  margin-top: 200px;
}

form {
  margin: 50px;
  background: #99CCFF;
  padding: 10px;
}
.niceCheck {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox.png);
  overflow: hidden;
}

.checkbox_js {
  display: none;
}

.niceChecked {
  background-position: 0 -17px;
}
.niceCheck input {
  margin-left: -100px;
}
div {
  margin-bottom: 10px;
}
.niceCheckDisabled {
  background-image: url(../img/checkbox-disabled.png);
}


.checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.label {
    cursor: pointer;
}

.label:after {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/checkbox-2.png);
    position: relative;
    top: 3px;
    margin-left: 15px;
}

.checkbox:checked + .label:after {
    background-position: 0 -17px;
}

.label:hover:after {
    background-position: 0 -34px;
}

.checkbox:checked + .label:hover:after {
    background-position: 0 -51px;
}

