* {
	margin:0;
	padding:0;
}

.wrap {
	width: 1064px;
 	height: 100vh;
 	margin: auto;
 	padding-left: 40px;
 	box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.3);
  	background: #fff;
}
body {
	 background: #f3f3f3;
}

.logo {
  height: 45px;
}

.nav {
	width: 960px;
  height: 40px;
  background: linear-gradient(to right, #444343, #5e5e5e);
  margin-bottom: 40px;
}

.nav li {
	display: inline-block;
  	margin-left: 25px;
}

.panel {
    padding: 10px;
    display: inline;
}
.panel a {
	text-decoration: none;
	color: #fff;
 	line-height: 40px;
  	height: 40px;
}

.nav ul li a:hover {
 background: grey;
 border-left: 1px solid white;
 border-right: 1px solid white;

}

.sidebar {
	float:left;
	
	
}

.panel2 {
	list-style: none;
	
	padding: 10px;
	border-top: 1px solid grey;
	border-left: 1px solid grey;
	border-right:1px solid grey;
	width: 200px;
	
}

.panel2 a {
	padding: 5px;
	background-color: white;
	color: grey;
	text-decoration: none;

}

.panel3 {
	border-bottom: 1px solid grey;
}

.sidebar li a:hover {
  color: black;
  background-color: lemonchiffon;
 } 
 
 .sidebar li:hover {
 	background-color: lemonchiffon;

 }
 

.logo {
	border: 1px solid gray;
}


.content {
	float: right;
	position: absolute;
    left: 470px;
    width: 680px;
  

}

.footer ul {
	clear: both;
	
	
	background: lightgrey;	
	padding: 10px;
	margin-top: 620px;
	margin-bottom: 40px;
	
}

.panel4 {
	
    display: inline;
}
.panel4 a {
	text-decoration: none;
	color: black;
    
    padding: 10px;
}
.panel5 {
	padding-left: 500px;
}

.footer ul li a:hover {
 text-decoration:underline;