header {
  background: url('../img/header-fon-desktop.png') no-repeat;
  padding: 0 30px;



  .header-text-container {
    margin-left: 156px;

    h2 {
      width: 579px;
      margin: 20px auto 25px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
header {
  background-image: url('../img/desktop@2x.png');
  background-size: cover;
  }
}