body {
	background: lightgray;
}

.wrapper {
	width: 900px;
  	height: 100vh;
  	margin: 40px 200px;
  	/*box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);*/
	background-image: url(../img/bike.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border: 1px solid gray;
}
@font-face {
    font-family: 'Helvetica_Neue';
    src: url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }


.menu {
	 width: 900px;
  	/*height: 40px;*/
  	background-image: url(../img/fon5.png);
  	background-repeat: repeat-x;
  	/*margin-bottom: 150px;*/
  	text-align: right;


}

.menu li {
  display: inline-block;
  margin-right: 10px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  height: 40px;
  
}

.menu li a {
	color: lightblue;
	font-size: 14px;
	font-family: 'Helvetica_Neue';
  height: 100%;
}

.links {
	text-decoration: none;
  	//*line-height: 5px;
  	height: 60px;
  	width: 30px;*/
  	display: inline-block;
    margin-top: 0;
}

.menu li:last-child {
	background: rgba(173, 216, 230, 0.7);
	color: rgba(255, 255, 255, 1);
  
  
}

.menu li:nth-child(6) {
  border-left: 1px solid rgba(173, 216, 230, 0.7);
  padding-left: 10px;
  color: rgba(255, 255, 255, 1);
}

.color li a {
  color: rgba(255, 255, 255, 1);
}

.menu li a:hover {
  background: rgba(173, 216, 230, 0.7);
  color: rgba(255, 255, 255, 1);
  font-weight: bolder;
  height: 40px;
}