body {
  background: #f3f3f3;
}

.wrapper {
  width: 1064px;
  height: 150vh;
  padding-left: 40px;
  margin: auto;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.3);
  background: #fff;
  font-family: sans-serif;
  font-size:15px;
  line-height:135%;
}

.logo {
  height: 45px;
  margin-bottom: 20px;
}

.menu--header {
  width: 960px;
  height: 40px;
  background: linear-gradient(to right, #444343, #5e5e5e);
  margin-bottom: 40px;
  color: white;
}

.menu--header li {
  display: inline-block;
  margin-left: 25px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

}
.menu--header li a {
  color: white;
}

.menu__links {
  text-decoration: none;
  line-height: 40px;
  height: 40px;
  width: 80px;
  display: block;
  padding-left: 30px;

}

.menu--header li:hover {
 border-left: 1px solid white;
 border-right: 1px solid white;
}

.aside {
  width: 240px;
  height: 250px;
  background: #eee;
  display: inline-block;
  vertical-align: top;
}

.aside a{
  text-decoration: none;
  color: grey;
  padding: 10px;
  display: inline-block;
  width: 200px;
  height: 20px;
}
.aside li {
  
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right:1px solid grey;
  position: relative;
}

.aside li:last-child {
  border-bottom: 1px solid gray;
}


.aside li a:hover {
  color: black;
  background-color: lemonchiffon;
  padding-left: 10px;
 
 } 
 
 .aside li:hover {
  background-color: lemonchiffon;
  padding-left: 10px;

 }


.main {
  width: 617px;
  height: 415px;
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}

.photo_bike {
  border: 1px solid gray;

}

.lorem {
  padding-top: 30px;
}

.menu--footer {
  width: 960px;
  height: 40px;
  background: #e1e1e1;

  margin-top: 200px;
}

.menu__links{
  color: black;
}

.menu--footer li {
  display: inline-block;
  padding-left: 50px;
  padding-bottom: 10px;

}

.menu--footer li:last-child {
  margin-left: 280px;
}

.menu--footer li a:hover {
 text-decoration:underline;